[user]
  name = Marc Addeo
  email = marcaddeo@gmail.com
  signingkey = 96105359
[push]
  default = simple
[core]
  excludesfile = /Users/marc/.gitignore
  editor = /usr/local/bin/nvim
[color]
  ui = always
  diff = always
[rebase]
  autosquash = true
[commit]
	gpgsign = true
	verbose = true
[diff]
	compactionHeuristic = true
[alias]
	stash-rename = "!_() { rev=$(git rev-parse $1) && git stash drop $1 || exit 1 ; git stash store -m \"$2\" $rev; }; _"
[merge]
	tool = nvim
[mergetool "nvim"]
	cmd = nvim \"+Gdiff\" $MERGED
