[user]
	name = Marc Addeo
	email = marcaddeo@gmail.com
	signingkey = 96105359
[push]
	default = simple
	autoSetupRemote = true
[core]
	excludesfile = /Users/marc/.gitignore
	editor = nvim
  pager = delta
[color]
	ui = true
	diff = always
[rebase]
	autosquash = true
[commit]
#	gpgsign = true
	verbose = true
	template = /Users/marc/.stCommitMsg
[diff]
  colorMoved = default
	compactionHeuristic = true
[alias]
	stash-rename = "!_() { rev=$(git rev-parse $1) && git stash drop $1 || exit 1 ; git stash store -m \"$2\" $rev; }; _"
	tags = "tag --sort=\"version:refname\""
	cleans = !git ls-files --others --exclude-from=.git/info/exclude -z | xargs -0 rm -v
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
[merge]
	tool = nvim
  conflictstyle = zdiff3
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[interactive]
  diffFilter = delta --color-only

[include]
  path = PATH/TO/delta/themes.gitconfig

[delta "mellow-solarized"]
    # based on mellow-barbet
    dark = true
    syntax-theme = Solarized (dark)
    line-numbers = true
    file-style = brightwhite
    file-decoration-style = brightwhite underline
    file-added-label = [A]
    file-copied-label = [C]
    file-modified-label = [M]
    file-removed-label = [D]
    file-renamed-label = [R]
    hunk-header-decoration-style = "#3e3e43" box ul
    line-numbers-left-style = "#3e3e43"
    line-numbers-right-style = "#3e3e43"
    blame-palette = "#161617" "#1b1b1d" "#2a2a2d" "#3e3e43"
    ; merge-conflict-begin-symbol = ~
    ; merge-conflict-end-symbol = ~
    ; merge-conflict-ours-diff-header-style = yellow bold
    ; merge-conflict-ours-diff-header-decoration-style = "#3e3e43" box
    ; merge-conflict-theirs-diff-header-style = yellow bold
    ; merge-conflict-theirs-diff-header-decoration-style = "#3e3e43" box

[delta]
  navigate = true  # use n and N to move between diff sections
  line-numbers = true
  hyperlinks = true
  true-color = always
  features = mellow-solarized

# Customizations for my work computer.
[includeIf "gitdir:/Users/maddeo/"]
	path = .gitconfig@brown
