[user]
  name = Marc Addeo
  email = marcaddeo@gmail.com
  signingkey = 96105359
[push]
  default = simple
[core]
  excludesfile = /Users/marc/.gitignore
  editor = /usr/local/bin/nvim
[color]
  ui = always
  diff = always
[rebase]
  autosquash = true
[commit]
	gpgsign = true
[diff]
	compactionHeuristic = true
