[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vpn"]
	path = vpn
	url = git@github.com:marcaddeo/vpn.git
[submodule "wiki"]
	path = wiki
	url = git@github.com:marcaddeo/wiki.git
